@font-face{
    font-family: Roboto-Light;
    src: url("/Fonts/Roboto-Light.ttf");
}

@font-face{
    font-family: Roboto-Medium;
    src: url("/Fonts/Roboto-Medium.ttf");
}

@font-face{
    font-family: Roboto-Bold;
    src: url("/Fonts/Roboto-Bold.ttf");
}